---
layout: default
title: About
---

<img class="profile-picture" src="{{site.baseurl}}/{{site.profile-picture}}">

WorkersDecide.tech is the product of a collection of tech workers and
organizers drawn from a range of groups and organizations, including:
<div class="about-affiliates">
{% for affiliate in site.affiliates %}
  {% include about-affiliate.html
          url=affiliate.url
          img=affiliate.img
          alt=affiliate.alt
          label=affiliate.name
  %}
{% endfor %}
</div>
We assembled together because we recognized the wide range of tech employeers rolling out AI
projects and mandates over the head of and without the input of their
workers. Even worse, they have been using these initiatives as a way
to attack our working conditions — instituting speedups, justifying
layoffs and headcount reductions, and degrading the quality of our
products.

We know from our experience as organizers that workers are not
helpless in the face of these initiatives — we have the tools to
demand our seat at the table, and our say in how technology is
implemented and deployed in our workplaces. We believe every employer
with new technology mandates can and should be answered with organized
groups of workers who can ensure we get our collective say. This
project is a place for us to assemble information and resources to
help take a stand.

If you would like to get in touch or get involved, please reach out to
us at <a href="mailto:committee@workersdecide.tech">committee@workersdecide.tech</a>.
