---
layout: homepage
title: Organizing Resources for Tech Workers Confronting AI
subtitle: Frustrated by your employer's generative AI policies? We're here to help you organize. We're uniting tech workers who recognize the consequences of employers rolling out AI policies without the input of their workers. Workers are not helpless in the face of these top-down initiatives — we have the tools to demand our seat at the table, and to have our say in how technology is implemented and deployed in our workplaces.
---
<div class="content">
    <div class="row lt800">
        <div class="column column-header">Latest Articles<hr /></div>
    </div>
    <div class="row lt800">
        {% for post in site.posts limit:2 %}
        {% if post.private == true %}
        {% continue %}
        {% endif %}
        <div class="column articles">
            <div class="homepage-post articles">
                <a href="{{ site.baseurl }}{{ post.url }}">
                    <div>
                        <div class="title">{{ post.title }}</div>
                        <div class="subtitle">{{ post.subtitle }}</div>
                        <div class="post-date">{{ post.date | date: "%d %B %Y" }}</div>
                    </div>
                    {% if post.image %}
                    <img id="{{ post.homepageImageId }}" src="{{ post.image }}" alt="{{ post.title }}"
                        class="homepage-post-image" />
                    {% endif %}
                </a>
            </div>
        </div>
        <hr class="lt650"/>
        {% endfor %}
    </div>
    <div class="row">
        <div class="column column-header resources">Resources<hr /></div>
        <div class="column column-header articles gt800">Articles<hr /></div>
    </div>
    <div class="row">
        <div class="column resources">
            {% for post in site.resources reversed limit:5 %}
            {% if post.private == true %}
            {% continue %}
            {% endif %}
            <div class="homepage-post">
                <div class="post-header">
                    <a class="title" href="{{site.baseurl}}{{ post.url }}">
                        {{ post.title }}
                    </a>

                    <div class="details">
                        <b>{{ post.date | date: "%d %B %Y" }}</b>
                        <br>
                        {% if post.tags %}
                        [
                        {% for tag in post.tags %}
                        <a class="post-tags" href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a>{% if forloop.last
                        == false %},{% endif %}
                        {% endfor %}
                        ]
                        {% endif %}
                    </div>
                </div>

                <div class="subtitle">
                    {{ post.subtitle }}
                </div>
                <div class="excerpt">
                    {{ post.excerpt }}
                </div>
            </div>
            {% if forloop.last == false %}
            <hr>
            {% endif %}
            {% endfor %}
        </div>
        <div class="column articles gt800">
            {% for post in site.posts limit:5 %}
            {% if post.private == true %}
            {% continue %}
            {% endif %}
            <div class="homepage-post articles">
                <a href="{{ site.baseurl }}{{ post.url }}">
                    <div>
                        <div class="title">{{ post.title }}</div>
                        <div class="subtitle">{{ post.subtitle }}</div>
                        <div class="post-date">{{ post.date | date: "%d %B %Y" }}</div>
                    </div>
                    {% if post.image %}
                    <img id="{{ post.homepageImageId }}" src="{{ post.image }}" alt="{{ post.title }}"
                        class="homepage-post-image" />
                    {% endif %}
                </a>
            </div>
            {% if forloop.last == false %}
            <hr>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>