<main id="bingo-main" class="fullColor">
  <section class="bingo-card full-bg" aria-label="Bingo Card">
    <img src="/assets/bingo-assets/bingo-title.svg" alt="Workplace AI Implementation Bingo" class="bingo-title">
    <div class="bingo-letters-container">
      {% include bingo-card/bingo-letters.svg %}
      {% include bingo-card/bingo-letters-bgs.svg %}
    </div>
    <table role="grid" aria-label="Bingo Grid" class="bingo-grid">
      <tbody>
        <!-- JS will fill in the bingo squares -->
      </tbody>
    </table>
    <img src="/assets/bingo-assets/bingo-footer.svg" alt="Bingo Card Footer" class="bingo-footer">
  </section>
</main>