<div class="navbar">
    <div class="logos">
        <a href="https://techworkerscoalition.org/" target="_blank" rel="noopener">
            <img class="nav-logo" src="/assets/twc-logo.svg" alt="TWC Logo" />
        </a>
        <a href="https://www.johnhenry.site/" target="_blank" rel="noopener">
            <img class="nav-logo" src="/assets/jhc-logo.png" alt="JHC Logo" />
        </a>
    </div>

    <a class="site-title" href="{{ site.url }}{{ site.baseurl}}/">{{ site.title }}</a>

    <ul class="pull-right">
        {% for x in site.navbar %}
        <li class="float-left">
            {% if x.absolute-link %}
            {% assign x-url = x.absolute-link %}
            {% else %}
            {% assign x-url = site.url | append: site.baseurl | append: "/" | append: x.link %}
            {% endif %}
            <a href="{{ x-url }}">{{ x.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<hr>